doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='google-site-verification', content='qo0mjbaYjorF761MKa4qyFJuZOvjCZew2F1p8fKYXLU')
  body
    block content
