body {
  padding-top: 60px;
  overflow-x: hidden;
}

.fullScreen {
  width: 100vw;
  height: 90vh;
}

.videoStreaming {
  width: 80%;
  height: 100%;
}

.w100h70 {
  width: 100%;
  height: 80%;
}

.w100h20 {
  width: 100%;
  height: 20%;
}

.w80h100 {
  width: 80%;
  height: 100%;
}

.w20h100 {
  width: 20%;
  height: 100%;
}

.w80 {
  width: 80%;
}

.userName {
  font-size: 0.9rem;
  font-weight: bold;
}

#liveChatConatiner {
  width: 20vw;
  height: 100%;
  background-color: lightgray;
  float: right;
  overflow: auto;
  padding: 5px;
}

#liveChat {
  word-break: break-all;
  font-size: 0.75rem;
}

#sendChatDiv {
  float: right;
}

#formRequireAlert {
  z-index: 999999;
}